@page "/GameByID/{id:long}"
@inject NavigationManager NavManager

@if (game == null)
{
	<Spinner></Spinner>
}
else
{
	<a href="@game.URL">@game.URL</a>
	<h1>@game.Title</h1>
	<p>@game.Classification by <a href="@game.User.URL">@game.User.DisplayName</a></p>
	<img src="@game.CoverURL">

	@if(game.Embed != null)
	{
		@if(iframeurl == null)
		{
			<br>
			<button @onclick="@PlayInBrowser">Play in browser</button>
		}
		else
		{
			<iframe style="width: width: @(game.Embed.Width)px; height: @(game.Embed.Height)px" mozallowfullscreen="true" allow="autoplay; fullscreen *; geolocation; microphone; camera; midi; monetization; xr-spatial-tracking; gamepad; gyroscope; accelerometer; xr" frameborder="0" msallowfullscreen="true" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" id="game_drop" allowtransparency="true" 
			src="@iframeurl">
			</iframe>
		}

		@code
		{
			string iframeurl;
			async Task PlayInBrowser()
			{
				var up = uploads.First(u=>u.Platforms.HasFlag(Platforms.Web));
				var sa = (await RashClient.Itch.GetUploadScannedArchive(up.ID)).ScannedArchive;

				var file = sa.LaunchTargets.First()["path"].ToString();
				// This URL probably should be obtained from the download URL
				iframeurl = $"https://v6p9d9t4.ssl.hwcdn.net/html/{up.ID}/{file}";
			}
		}

	@if (uploads == null)
	{
		<Spinner></Spinner>
	}
	else
	{
		@foreach (var upload in uploads)
		{
			<a href="javascript:void(0);" @onclick="@(e=>DownloadUpload(upload))">
				@if (upload.IsDemo)
				{
					<span>[DEMO]</span>
				}
				@if (upload.Platforms != 0)
				{
					<PlatformIcons Platforms="@upload.Platforms"></PlatformIcons>
				}
				<span>@(upload.DisplayName??upload.Filename) (@upload.Size.BytesToString()) - id: @upload.ID</span>
			</a>
			<br>
		}
	}
}

@code {
	[Parameter]
	public long id { get; set; }
	Game game;
	List<Upload> uploads;

	async Task DownloadUpload(Upload u)
	{
		await DownloadManager.StartDownloadUpload(game.ID, u.ID);
	}

	protected override async Task OnInitializedAsync()
	{
		game = (await RashClient.Itch.GetGame(id)).Game;

		long key = RashClient.OwnedKeys.FirstOrDefault(k => k.GameID == id)?.ID ?? 0;

		uploads = (await RashClient.Itch.ListUploads(game.ID, key)).Uploads;
	}
}