<a href="@redirecturl" class="game-feed">
	<div class="cover-feed">
		@if (Game.CoverURL != null)
		{
			<div class="cover-feed" style="background-image: url(@(Game.StillCoverURL ?? Game.CoverURL))"
				onmouseover="this.style.backgroundImage = 'url(@Game.CoverURL)'"
				onmouseleave="this.style.backgroundImage = 'url(@(Game.StillCoverURL ?? Game.CoverURL))'">
			</div>
		}
	</div>

	<div class="game-text">
		<span class="game-title">@Game.Title</span>
		@if (ShowPrice)
		{
			@if (Game.PriceCents != 0)
			{
				<span class="game-price">$@(Game.PriceCents/100f)</span>

				@if (Game.Sale != null)
				{
					@if (Game.Sale.Rate != 0)
					{
						<span class="game-sale">
							-@(Game.Sale.Rate)%
						</span>
					}
					else
					{
						<span class="game-sale">
							In Bundle
						</span>
					}
				}
			}
			else
			{
				<span>Free</span>
			}
		}
	</div>
	<PlatformIcons Platforms="@Game.Platforms"></PlatformIcons>
	@if (Game.HasDemo)
	{
		<p>[HAS DEMO]</p>
	}
</a>

@code
{
	[Parameter]
	public Game Game { get; set; }
	[Parameter]
	public bool ShowPrice { get; set; } = true;

	string redirecturl => Game.ID == 0 ? ("/GameByURL/" + System.Net.WebUtility.UrlEncode(Game.URL)) : ("/GameByID/" + Game.ID); 
}